﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/png" href="~/Images/favicon.ico" />    
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <style type="text/css">
        #ajaxBusy {
            display: none;
            margin: 0px 0px 0px -50px; /* left margin is half width of the div, to centre it */
            padding: 30px 10px 10px 10px;
            position: absolute;
            left: 30%;
            top: 255px;
            width: 500px;
            height: 150px;
            text-align: center;
            background: #e8e8e8 url(images/ajax-loader.gif) no-repeat center center;
            border: 1px solid #000;
        }
    </style>
</head>
<body>
    <div class="page">
        <header>

            <div class="float-left">
                <p class="site-title">
                    <a href="~/"><img src="~/Images/znode-logo.png" alt="Znode" /></a>
                </p>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li><a href="@Request.Url.GetLeftPart(UriPartial.Authority)/swagger/ui/index">API</a></li>
                    </ul>
                </nav>
            </div>
            <div class="clear-fix"></div>


        </header>

        <div class="main-container">
            @RenderBody()
        </div>        
    </div>
    <footer>
        Powered by Znode. © Copyright @DateTime.Now.Year, Znode LLC, All Rights Reserved. | Multifront @System.Configuration.ConfigurationManager.AppSettings["BuildVersion"]
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
